.telefonoip {
	top: 45.5%;
	left: 13.5%;
	width: 9%;
}

.persiana {
	top: 5%;
	left: 45%;
	width: 54%;
	height: 30%;
}

.musica {
	top: 25%;
	left: 1.5%;
	width: 3%;
	height: 3%;
}



